
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
  
}
.navbar li{
    list-style: none;
    margin: 0 12px;
    color: white;
  
}

.main{
    background-color: black;
}
.main2{
    margin-left: 20px;
    margin-top: 80px;
    color: white;
   
}
.main3{
    margin-top: 90px;
    align-items: center;
    background-color: skyblue;
     padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
}
.img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;

}
.about{
   
    padding: 50px;
    margin-top: 20px;
   background-color: black;
    
}
.aboutus{
    margin-top: 40px;
    text-align: center;
}
.Feature{
    color: black;
 
}
.main5{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  
}